.Keyword {
  display: inline-block;
  align-self: center;
  margin-left: auto;
  margin-right: 8px;
  border: 1px solid var(--border-subtle);
  border-radius: 6px;
  padding: 4px 8px;
  background-color: var(--app-background-secondary);
  color: var(--text-secondary);
  font-size: 11px;
  font-weight: 500;
  font-family: system-ui;
  text-align: center;
  text-decoration: inherit;
  text-transform: capitalize;
}
